@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo_bd.jpg);
  background-size: cover;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

header .container-fluid {
  background: linear-gradient(0deg, #d4a373 0%, #faedcd 100%);
}

header .container-fluid .navbar .navbar-nav .nav-item .nav-link {
  transition: background-color 2s ease-out 100ms;
}

header .container-fluid .navbar .navbar-nav .nav-item:hover {
  background-color: #92a455;
}

header .container-fluid .navbar form .btn {
  color: #000000;
  background-color: #92a455;
  transition: transform .5s ease-in-out;
}

header .container-fluid .navbar form .btn:hover {
  transform: scale(1.1);
}

main h2 {
  background-color: #fefae0;
  padding: 20px;
  border: 5px solid #ccd5ae;
  border-radius: 20px;
}

main .main_title {
  background-image: url(../img/fondo.jpg);
  padding: 20px;
  font-weight: bolder;
  text-align: center;
}

main section h2 {
  font-weight: bolder;
  text-align: center;
}

main section .card_main {
  background: linear-gradient(270deg, #fefae0 0%, #ccd5ae 100%);
  border: solid 5px #d4a373;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 10px 6px 20px 0px rgba(0, 0, 0, 0.75);
}

main section .card_main img {
  border-radius: 20px;
}

.card_data {
  background: linear-gradient(270deg, #ccd5ae 0%, #fefae0 100%);
  border: solid 5px #d4a373;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 10px 6px 20px 0px rgba(0, 0, 0, 0.75);
}

.card_data h4 {
  font-weight: bolder;
  text-align: left;
}

.card_data img {
  border-radius: 20px;
}

.section_data {
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  margin-top: 80px;
  padding: 0 20px;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 20px black);
}

.section_data #seca img {
  float: right;
  width: 55%;
  padding: 10px;
}

.section_data #fresca img {
  float: left;
  width: 40%;
  padding-right: 20px;
}

.section_data #premio p {
  align-self: center;
}

.section_data #premio img {
  float: right;
  width: 40%;
  margin-left: 20px;
}

.section_data h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: left;
  text-decoration: underline;
}

.section_data img {
  justify-content: center;
}

.section_data .img_section {
  float: right;
  padding: 0 50px;
  width: 40%;
}

.section_data .video {
  filter: drop-shadow(2px 2px 20px black);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section_data .video h5 {
  font-weight: bolder;
}

.section_data .img_ayuda {
  display: inline-block;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 30px;
}

.carousel-control-prev {
  filter: drop-shadow(2px 1px black);
}

.carousel-control-next {
  filter: drop-shadow(2px 1px black);
}

.carousel-indicators {
  filter: drop-shadow(2px 1px black);
}

.card {
  border-radius: 5px;
}

.card img {
  height: 320px;
}

.card .card-body {
  background-color: #fefae0;
  border-radius: 5px;
}

.card .btn {
  color: #000000;
  background-color: #92a455;
  transition: transform .5s ease-in-out;
}

.card .btn:hover {
  transform: scale(1.1);
}

.card:hover {
  border-color: rgba(0, 0, 0, 0.518);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.518);
}

.card h5 {
  font-weight: bold;
}

.footer {
  background-color: #d4a373;
}

.footer .btn {
  color: #000000;
  background-color: #92a455;
  transition: transform .5s ease-in-out;
}

.footer .btn:hover {
  transform: scale(1.1);
}

.accordion-button {
  background-color: #CCD5AE;
  transition: color .5s ease-in-out;
}

.accordion-button:hover {
  font-weight: bolder;
  filter: brightness(80%);
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #E9EDC9;
}

.accordion-body {
  background-color: #FEFAE0;
}
