

main {
    .main_title {
        background-image: url(../img/fondo.jpg);
        padding: 20px;
        font-weight: bolder;
        text-align: center;
    }

    section {
        h2{
            font-weight: bolder;
            text-align: center;
        }
        .card_main {
            @include cardContent($card_bg_lt,$card_bg_dk)
            }
        }
    }

    .card_data {
        h4{
            font-weight: bolder;
            text-align: center;
        }
        @include cardContent($card_bg_dk,$card_bg_lt)     
    }