header{
    .container-fluid{
        background: linear-gradient(0deg, $nav_bg_dk 0%, $nav_bg_lt 100%);
        .navbar{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        transition: background-color 2s ease-out 100ms
                        }
                        &:hover{
                            background-color: $btn_bg;
                    }
                }
            }
            form{
                .btn{
                    color: $btn_text;
                    background-color: $btn_bg;
                    transition: transform .5s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}